.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px 0px 0px 0px;
    background: #E3F1FA;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}


.sidebar__chats {
    flex: 1;
    background-color: #E3F1FA;
    margin-top: 25px;
    overflow: scroll;
}

